
<div ng-init="init()">
 <h3><span>Edit Course</span></h3>
   <br/>
   
 <form class="form-horizontal">
 
  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="name">Course Group:</label>
	 <select class="form-control" ng-model="course.familyId" ng-options="family.familyId as family.familyName for family in families">
		<option value="">Please select a Course Group</option>
	</select>
	
  </div>
  <div class="form-group form-inline">
    <label class="control-label col-sm-2"  for="Lname">Course Name:</label>
    <input type="text" class="form-control" id="courseName" ng-model="course.courseName">
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label col-sm-2"  for="Lname">Course Path:</label>
    <input type="text" class="form-control" id="path" ng-model="course.coursePath">
  </div>
  
  <div class="form-group form-inline">
    <label  class="control-label col-sm-2" for="startDate"></label>
    <button type="submit" class="btn btn-primary" ng-click="submitForm(course);">Update</button>
	 <button type="submit" class="btn btn-primary" ng-click="Back();">Back</button>
	</div>
  
</form>

<div class="alert alert-success col-sm-6" id="messagebox" ng-show='showMsgBox'>
  <strong>Course has been updated successfully!</strong> 
</div>
 
</div>
 